.datatable{
  height: 600px;
  padding: 20px;

  .cellWithImg{
    display: flex;
    align-items: center;

    .cellImg{
      width: 32px;
      height:32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus{
    padding: 5px;
    border-radius: 5px;

    &.active{
      background-color: rgba(0,128,0,0.05);
      color: var(--green);
    }
    &.online{
      background-color:rgba(0,128,0,0.05);
      color: var(--primary-light-blue);
    }
    &.offline{
      background-color:rgba(0,128,0,0.05);
      color: crimson;
    }
  }

  .cellAction{
    display: flex;
    align-items: center;
    gap:15px;

    .viewButton{
      padding:2px 5px;
      border-radius: 5px;
      color: var(--text-color);
      border: 1px dotted var(--text-color);
      cursor: pointer;
    }

    .deleteButton{
      padding:2px 5px;
      border-radius: 5px;
      color: crimson;
      cursor:pointer;
    }
  }
}