.home{
  display: flex;
  height: fit-content;
  .homeContainer{
    background-color: white;
    flex:6;
/*    flex 2 means it should be twice the side of side in the container side bar has flex 1*/

    .widgets, .charts{
      display: flex;
      padding: 20px;
      gap: 20px;
    }
    .charts{
      padding: 5px 20px;
    }
    .listContainer{
      box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
      padding: 20px;
      margin: 20px;

      .listTitle{
        font-weight: 500;
        color: var(--gray);
        margin-bottom: 15px;
      }
    }
  }
}